// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webapp-primary: mat-palette($mat-indigo);
$webapp-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webapp-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webapp-light-theme: mat-light-theme($webapp-primary, $webapp-accent, $webapp-warn);
$webapp-dark-theme: mat-dark-theme($webapp-primary, $webapp-accent, $webapp-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webapp-light-theme);

body.dark {
  @include angular-material-theme($webapp-dark-theme);

  .mat-table {
    // background-color: rgba(0,0,0,0.1);
  }
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.mat-card {
  &.table {
    padding: 0;
    overflow: hidden;

    .mat-card-header.searchable {
      align-items: baseline;
      justify-content: space-between;

      margin-right: 16px;
    }
  }
}
.mat-button-base .mat-icon + span  {
  padding-left: 12px;
}
.text-center {
  text-align: center;
}
.mat-ripple:hover {
  cursor: pointer;
}
.mat-column-select {
  max-width: 60px;
}
.placeholder-opacity {
  .mat-form-field {
    .mat-form-field-label {
      color: currentColor;
      opacity: 0.4;
      transition: all 200ms linear;
    }
    &.mat-focused .mat-form-field-label {
      opacity: 0.8;
    }
  }
}

.flex-column-full {
  display: flex;
  flex-flow: column;
  flex: 1;
}
.grid-container {
  // margin: 20px;
  margin: 8px;
}